<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" class>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<meta property="fb:pages" content="1567451316868458">
<meta name="title" content="title">
<meta name="keywords" content="">
<meta name="google-site-verification"
	content="3eLg1zfxeZ_oO6oOOsvIxbtcW-FtDsViPVm7-CYOl8w">
<title>쿠킹토킹</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/style.css">



<style type="text/css">
iframe
#_hjRemoteVarsFrame {
	display: none !important;
	width: 1px !important;
	height: 1px !important;
	opacity: 0 !important;
	pointer-events: none !important;
}
</style>
</head>
<body>
	<div class="gnb_top_wrap">
		<div class="gnb_top">
			<h1>
				<a href="/index.html"><img src="img/logo.png" alt="로고"></a>
			</h1>
			<div class="gnb_search">
				<form id="frmTopRecipeSearch" method="get"
					action="/recipe/list.html">
					<div class="input-group">
						<input id="srhRecipeText" name="q" type="text"
							class="form-control ui-autocomplete-input" placeholder=""
							value="" style="ime-mode: active;" autocomplete="off"> <span
							class="input-group-btn">
							<button class="btn btn-default" type="button"
								onclick="$('#frmTopRecipeSearch').submit();">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
			<ul class="gnb_right">
				<li><a href="/user/login.html"> <img
						src="img/user_icon.png" alt="유저"></a></li>
				<li><a href="#"
					style="display: block; width: 44px; height: 44px;"> <img
						src="img/login_icon.png" alt="로그인"></a></li>
				<li><a id="btnTopWrite" href="javascript:void(0)"
					data-toggle="tooltip" data-placement="top" title="레시피등록"
					data-original-title="레시피등록"><img
						src="img/recipe_write_icon.png"></a></li>
			</ul>

		</div>
	</div>
	<div class="gnb_nav text-center" style='background: #FF8000'>
		<ul class="gnb_nav_ea10">
			<li><a href="/index.html" class="active">홈</a></li>
			<li><a href="/recipe/list.html">레시피</a></li>
			<li><a href="/chef/chef_list.html">냉장고파먹기</a></li>
			<li><a href="/talk/list.html">토크</a></li>
			<li><a href="/chef/chef_list.html">쉐프</a></li>
			<li><a href="/admin/admin.html">고객센터</a></li>
		</ul>
	</div>
	<!-- 여기서 내용이 들어가는 자리 -->
	<table>
		<thead>
			<tr>
				<th>문의사항제목</th>
				<th>문의 내용</th>
				<th>문의 날짜</th>
				<th>답변 내용</th>
				<th>유저</th>
				<th>답변 유무</th>
			</tr>
			<tr>
				<th th:each="qnaList:${qnaList}"></th>
				<td th:text="${qnaList.qnaTitle}">문의 내용</td>
				<td th:text="${qnaList.qnaCont}">문의 날짜</td>
				<td th:text="${qnaList.qnaDate}">답변 내용</td>
				<td th:text="${qnaList.answer}">답변 유무</td>
				<td th:text="${qnaList.userId}">유저</td>
				<td th:text="${qnaList.userId}">유저</td>
				
				
			</tr>

		</thead>


	</table>



	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>






	<!-- 여기까지 내용이 들어가는 자리 -->
	<div class="footer st2" style='background: #ff5100'>
		<div class="container text-center">
			<img src="img/footer_logo.png">
			<ul class="btm_stats">

				<li><a href="/chef/apply.html" style="color: #fff;"><span><div>
								<img src="img/btn_icon1.png">
							</div></span>총 쉐프수</a><b>1</b></li>
				<li><a href="/recipe/list.html" style="color: #fff;"><span><img
							src="img/btn_icon2.png"></span>총 레시피수</a><b>1</b></li>
				<li><span><img src="img/btn_icon3.png"></span>월 방문자수<b>1</b></li>
				<li><span><img src="img/btn_icon4.png"></span>총 레시피 조회수<b>1</b></li>
			</ul>

		</div>
	</div>
</body>
</html>
