<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>Login with UserId and Password</h3>
<form name="f" action="/login" method="post">
<table>
<tbody>
<tr>
<td><input type="text" name="userId" value=""></td>
</tr>
<tr>
<td>Password:</td>
<td><input type="password" name="userPw" ></td>
</tr>

<tr>
<td colspan="2"><input name="submit" type="submit" value="Login"></td>
</tr>

</tbody>
</table>

</form>
</body>
</html>