<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cook.talk.model.dao.AdUserDAO">
	<select id="allSelectUserId" resultType="userVO">
		select * from user
	</select>
	<delete id="deleteUserID" parameterType="userVO">
		delete from user 
			   where userID=#{userID}
	</delete>
	<update id="updateUserNickName" parameterType="userVO">
		update user 
		       set nickName = #{nickName} 
		       where userID =#{userID}
	</update>



</mapper>
	