<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cook.talk.model.dao.ChefDAO">

	<select id="selectChefDetail" resultType="userVO">
		select * from user from userid=#{id}
	</select>
	<select id="selectFollow">
		select count(*) from user from userid=#{userId} and followChef=#{chefId}
	</select>
	
	<select id="selectRecipe" resultType="recipeVO">
		select userid,rcpTitle,rcpPic from rcp where userid = #{userId}
	</select>
	<select id="allSelectChef">
		select us.nickNameus.userPic us.rcpUploads,us.followerssum(rcpViews) as views
			   from user as us,rcp 
			   where us.userId=rcp.userId
			   group by us.userId 
			   order by us.rcpUploads,us.followers,rcp.rcpviews
	</select>
</mapper>