<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.cook.talk.model.dao.RecipeDAO">

	<sql id="recipedtoColumns">
		  rcpCode, nickName, rcpTitle, rcpDate, rcpViews, rcpExpl, video, rcpPic, 
		  personnel, cookTime, level, registerStatus, cookType, 
		  cookSituation, cookMethod, ingrCat, userIngr, ingrWeigh, cookOrder, cookCont,
		  cookPic, rcpCom, rcpComDate, tag
	</sql>

	<select id="getIngrName" parameterType="String" resultType="ingrVO">
	SELECT ingrName FROM recipe.ingr WHERE ingrName>=#{chosung1} AND ingrName<![CDATA[>]]>#{chosung2}
	</select>


	<select id="getRecipeList" parameterType="recipeDto">
	SELECT * FROM recipe.recipedto;
	</select>
	
	<insert id="insertRecipe" parameterType="recipeDto">
	INSERT INTO recipe.recipedto <![CDATA[(<include refid="recipedtoColumns" /> ) ]]>
	VALUES (#{chosung2} )
	</insert>	


</mapper>
